<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxd.housing.dao.housingMapper" >
  <resultMap id="BaseResultMap" type="com.lxd.housing.model.housing" >
    <id column="housing_id" property="housingId" jdbcType="INTEGER" />
    <result column="housing_no" property="housingNo" jdbcType="VARCHAR" />
    <result column="estate_name" property="estateName" jdbcType="VARCHAR" />
    <result column="building_name" property="buildingName" jdbcType="VARCHAR" />
    <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
    <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    housing_id, housing_no, estate_name, building_name, unit_name, total_price, gmt_create, 
    gmt_modified, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from housing
    where housing_id = #{housingId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from housing
    where housing_id = #{housingId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lxd.housing.model.housing" >
    insert into housing (housing_id, housing_no, estate_name, 
      building_name, unit_name, total_price, 
      gmt_create, gmt_modified, del_flag
      )
    values (#{housingId,jdbcType=INTEGER}, #{housingNo,jdbcType=VARCHAR}, #{estateName,jdbcType=VARCHAR}, 
      #{buildingName,jdbcType=VARCHAR}, #{unitName,jdbcType=VARCHAR}, #{totalPrice,jdbcType=DECIMAL}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lxd.housing.model.housing" >
    insert into housing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="housingId != null" >
        housing_id,
      </if>
      <if test="housingNo != null" >
        housing_no,
      </if>
      <if test="estateName != null" >
        estate_name,
      </if>
      <if test="buildingName != null" >
        building_name,
      </if>
      <if test="unitName != null" >
        unit_name,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="housingId != null" >
        #{housingId,jdbcType=INTEGER},
      </if>
      <if test="housingNo != null" >
        #{housingNo,jdbcType=VARCHAR},
      </if>
      <if test="estateName != null" >
        #{estateName,jdbcType=VARCHAR},
      </if>
      <if test="buildingName != null" >
        #{buildingName,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null" >
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lxd.housing.model.housing" >
    update housing
    <set >
      <if test="housingNo != null" >
        housing_no = #{housingNo,jdbcType=VARCHAR},
      </if>
      <if test="estateName != null" >
        estate_name = #{estateName,jdbcType=VARCHAR},
      </if>
      <if test="buildingName != null" >
        building_name = #{buildingName,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null" >
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where housing_id = #{housingId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lxd.housing.model.housing" >
    update housing
    set housing_no = #{housingNo,jdbcType=VARCHAR},
      estate_name = #{estateName,jdbcType=VARCHAR},
      building_name = #{buildingName,jdbcType=VARCHAR},
      unit_name = #{unitName,jdbcType=VARCHAR},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=CHAR}
    where housing_id = #{housingId,jdbcType=INTEGER}
  </update>
</mapper>